In [1]:
import pandas as pd

In [23]:
pd.read_csv('deliveries.csv/deliveries.csv').head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [17]:
pd.read_csv('deliveries.csv/deliveries.csv',converters={'bowling_team':lambda x: 'RCB' if x=='Royal Challengers Bangalore' else x}).head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,RCB,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,RCB,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,RCB,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,RCB,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,RCB,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [20]:
 pd.read_csv('deliveries.csv/deliveries.csv',na_values={'extra_runs':0}).head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1.0,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,NaN,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1.0,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,NaN,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,NaN,0,NaN,0,NaN,NaN,NaN

In [24]:
pd.read_csv('deliveries.csv/deliveries.csv',index_col='match_id').tail()

,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
match_id,,,,,,,,,,,,,,,,
1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [27]:
pd.read_csv('deliveries.csv/deliveries.csv',nrows=1000).shape

(1000, 17)

In [29]:
pd.read_csv('deliveries.csv/deliveries.csv',skiprows = lambda x : True if x%2==0 else False).shape

(130459, 17)

In [34]:
pd.read_csv('deliveries.csv/deliveries.csv',usecols=[1,2,3,6,7,13,14]).head()

,inning,batting_team,bowling_team,batter,bowler,is_wicket,player_dismissed
0,1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,0,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,0,NaN
2,1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,0,NaN
3,1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,0,NaN
4,1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,0,NaN

In [40]:
pd.read_csv('deliveries.csv/deliveries.csv',usecols=[1,2,3,6,7,13,14],names=['Innings','Bat_Team','Bowl_Team','Batsman','Bowler','Is_wicket','Dismissed_player'],header=0).head()

,Innings,Bat_Team,Bowl_Team,Batsman,Bowler,Is_wicket,Dismissed_player
0,1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,0,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,0,NaN
2,1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,0,NaN
3,1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,0,NaN
4,1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,0,NaN

In [48]:
dfs = pd.read_csv('deliveries.csv/deliveries.csv',chunksize=50000)

In [49]:
for df in dfs :
    print(df.shape)

(50000, 17)
(50000, 17)
(50000, 17)
(50000, 17)
(50000, 17)
(10920, 17)